In [5]:
# Dependencies
import pandas as pd
import numpy as np
import os

# CSV File
csv_path = "Resources/purchase_data.csv"

# Read CSV into DF
data_file = pd.read_csv(csv_path)

In [6]:
### Player Count: Display the total number of Players

Player_Totals = data_file.loc[:,["Gender", "SN", "Age"]]
Player_Totals = Player_Totals.drop_duplicates()
Number_of_Players = Player_Totals.count()[0]

pd.DataFrame({"Total Players" : [Number_of_Players]})

   Total Players
0            576

In [7]:
### Purchasing Analysis (Total) ###
    # Number of Unique Items
    # Average Purchase Price
    # Total Number of Purchases
    # Total Revenue
    
Number_of_Unique_Items = data_file['Item ID'].nunique()
Average_Price = data_file['Price'].mean().round(2)
Number_of_Purchases = data_file['Purchase ID'].count()
Total_Revenue = data_file['Price'].sum().round(2)

### Purchasing Analysis DataFrame ###

Total_Purchasing_AnalysisDF = pd.DataFrame({
    "Number of Unique Items":[Number_of_Unique_Items],
    "Average Purchase Price":[Average_Price],
    "Total Number of Purchases":[Number_of_Purchases],
    "Total Revenue":[Total_Revenue]})

### Currency/Formatting Added ###
Total_Purchasing_AnalysisDF["Average Purchase Price"] = Total_Purchasing_AnalysisDF["Average Purchase Price"].map("${:.2f}".format)
Total_Purchasing_AnalysisDF["Total Revenue"] = Total_Purchasing_AnalysisDF["Total Revenue"].map("${:.2f}".format)
Total_Purchasing_AnalysisDF

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [8]:
### Gender Demographics ###
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non Disclosed

Gender_Totals = Player_Totals["Gender"].value_counts()
Gender_Percents = Gender_Totals/Number_of_Players*100

### Gender Demographics DataFrame ###
Gender_DemographicsDF = pd.DataFrame({"Total Count": Gender_Totals, "Percentage of Players": Gender_Percents})

### Currency/Formatting Added ###
Gender_DemographicsDF = Gender_DemographicsDF.round(2)
Gender_DemographicsDF

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [9]:
### Purchasing Analysis (Gender) ###
    # Purchase Count 
    # Average Purchase Price 
    # Total Purchase Value 
    # Average Purchase Total per Person by Gender

Gender_Purchase_Count = data_file.groupby(["Gender"])["Price"].count().rename("Purchase Count")
Average_Gender_Purchase_Price = data_file.groupby(["Gender"])["Price"].mean().rename("Average Purchase Price")
Total_Gender_Purchase_Value = data_file.groupby(["Gender"])["Price"].sum().rename("Total Purchase Value")
Average_Purchase_Total_PG = Total_Gender_Purchase_Value / Gender_DemographicsDF["Total Count"]


### Purchasing Analysis (Gender) DataFrame ###
Gender_Purchasing_AnalysisDF = pd.DataFrame({"Purchase Count": Gender_Purchase_Count,
                                            "Average Purchase Price": Average_Gender_Purchase_Price,
                                            "Total Purchase Value": Total_Gender_Purchase_Value,
                                            "Avg Total Purchase Per Person": Average_Purchase_Total_PG})
### Currency/Formatting Added ###
Gender_Purchasing_AnalysisDF["Average Purchase Price"] = Gender_Purchasing_AnalysisDF["Average Purchase Price"].map("${:.2f}".format) 
Gender_Purchasing_AnalysisDF["Total Purchase Value"] = Gender_Purchasing_AnalysisDF["Total Purchase Value"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF["Avg Total Purchase Per Person"] = Gender_Purchasing_AnalysisDF["Avg Total Purchase Per Person"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF = Gender_Purchasing_AnalysisDF.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"]]
Gender_Purchasing_AnalysisDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [10]:
### Age Demographics ###

    # Establish the bins
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
    
    # Purchase Count
    # Average Purchase Price
    # Total Purchase Value
    # Average Purchase Total per Person by Age Group

Player_Totals["Age Ranges"] = pd.cut(Player_Totals["Age"], bins, labels = bin_labels)
Age_Demographics_Totals = Player_Totals["Age Ranges"].value_counts()
Age_Demographics_Percents = Age_Demographics_Totals / Number_of_Players * 100

### Age Demographics Data Frame ###
Age_DemographicsDF = pd.DataFrame({"Total Count": Age_Demographics_Totals, "Percentage of Players": Age_Demographics_Percents})

### Currency/Formatting Added ###
Age_DemographicsDF = Age_DemographicsDF.round(2)
Age_DemographicsDF.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [11]:
### Purchasing Analysis (Age) ###
    # Establish the bins #
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


data_file["Age Ranges"] = pd.cut(data_file["Age"], bins, labels= bin_labels)

Age_Purchase_Counts = data_file.groupby(["Age Ranges"])["Price"].count()
Age_Average_Price = data_file.groupby(["Age Ranges"])["Price"].mean().round(2)
Age_Purchase_Value = data_file.groupby(["Age Ranges"])["Price"].sum().round(2)
Average_Purchase_Total_Per_Person = Age_Purchase_Value / Age_DemographicsDF["Total Count"].round(2)

### Purchasing Analysis (Age) DataFrame ###
Age_Purchasing_Analysis = pd.DataFrame({"Purchase Count": Age_Purchase_Counts,
                                            "Average Purchase Price": Age_Average_Price,
                                            "Total Purchase Value": Age_Purchase_Value,
                                            "Avg Total Purchase Per Person": Average_Purchase_Total_Per_Person})

### Currency/Formatting Added ###
Age_Purchasing_Analysis["Purchase Count"] = Age_Purchasing_Analysis["Purchase Count"].map("{:,}".format)
Age_Purchasing_Analysis["Average Purchase Price"] = Age_Purchasing_Analysis["Average Purchase Price"].map("${:,.2f}".format)
Age_Purchasing_Analysis["Total Purchase Value"] = Age_Purchasing_Analysis["Total Purchase Value"].map("${:,.2f}".format)
Age_Purchasing_Analysis["Avg Total Purchase Per Person"] = Age_Purchasing_Analysis["Avg Total Purchase Per Person"].map("${:,.2f}".format)

Age_Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19